*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: blueviolet;
    background: url('anhnen.jpg') no-repeat;
    background-size: cover;
}
.all {
    transform: translateX(0);
}

.register {
    transform: translateX(100%);
    opacity: 0;
    display: block;
}

.all, .register{
    position: absolute;
    width: 430px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #ffffff;
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, opacity 0.5s;
}

h1{
    text-align: center;
}


.input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0; 
}

.bx{
    font-size: 20px;
}

/* .bx-hide, .bx-show{
    display: none !important;
} */

.bx-hide:hover{
    cursor: pointer;
}

.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px ;
}

.input input::placeholder{
    color: #fff;
}

.input i{
    position: absolute;
    right: 10px;
    top:30%;
    transform: translate(-50%);   
}

.all .mk{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.mk label input{
    accent-color: #fff;
    margin-right: 3px;
}
.mk a{
    color: #fff;
    text-decoration: none;
}
.mk a:hover{
    text-decoration: underline;
}

.login, .sub-register{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
button:hover{
    background-color: rgb(94, 144, 127);
    font-size: 20px;
}

.dktk{
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

.dktk p a{
    color: #fff;
    text-decoration: none;
}
.dktk p a:hover{
    text-decoration: underline;
}